name: Deploy ERPNext Bench

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Deploy to Server via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: 103.213.111.135
          username: frappe
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          port: 22
          timeout: 60s
          command_timeout: 15m
          script: |
            cd /home/frappe/frappe-bench
            
            # 1. Pull the latest code
            git pull origin main
            
            # 2. Update the database
            bench migrate
            
            # 3. Clear cache and restart
            bench clear-cache
            bench restart
